.form-inline{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 1em;
    font-size: .8em;
    margin: 7px;
    
}

.input-location{
    width: 20em;
}

.btn-form-send{
    margin-bottom: 5px;
}

.map{
    width: 95%;
    margin: auto;
    height: 20vw;
    box-shadow: 0 5px 7px 0 rgba($color: #000, $alpha: 0.3);
    border: #000 1px solid;
    margin-bottom: 50px;
}